
    <div class="col-1">
    <img src="~/imagenes/hotel/cruz.png" style="width:50px" />
    </div>
    <div class="text-center">
        <br />

        <h3>La habitacion que quiere agregar ya existe</h3>

        <br />

        <p>Porfavor ingrese una nueva</p>

        <hr />
    </div>
<a asp-controller="Habitaciones" asp-action="Crear" class="btn btn-primary">Agregar Habitacion</a>